<div id="shot-{{shot.id}}" class="shot">
	<a class="image" style="background-image: url({{shot.image_url}})" href="{{shot.url}}" target="_blank"></a>
	<div class="tip">
		<p>{{shot.title}}</p>
	</div>
</div>