@import 'nib'

.header
  width: 476px
  margin: 10px auto
  padding: 10px
  font-family "Courier"
  text-transform: uppercase
  background rgba(0,0,0,0.1) url('../img/pattern.png') repeat
  border-radius: 3px
  box-shadow: 0 0 5px rgba(0,0,0, .3)
  text-align: center
  border 1px solid rgba(0,0,0, 0.1)


  &-link
    margin-right: 32px
    text-decoration: none
    color: #eee

    &:visited
      color: #eee

    &:hover
      text-decoration: underline

    &:last-child
      margin-right: 0
